@model MinisteriodeEducacionMVCApp.Models.Vista_Perfil

@{
    ViewBag.Title = "Details";
}

<h2>Certificado de Bachiller</h2>

<div>
    <div>
        <h4>Datos del Estudiante</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id )
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nombreCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCompleto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.paralelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.paralelo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.colegio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.colegio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.nombrePromo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombrePromo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.año)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.año)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.promedio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.promedio)
            </dd>
            </dl>
            <h4>Datos del Certificado</h4>
            <h5>La descargar del <b>Certificado de Bachiller</b> se habilitara una vez que este sea validado y legalizado</h5>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.metadatos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.metadatos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.codigohex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigohex)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.codigoLegalizacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoLegalizacion)
                </dd>

            </dl>
                @using (Html.BeginForm("Details", "Perfil", FormMethod.Post))
                {
                    if(Model.codigoLegalizacion != null)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="Descargar Certificado Legalizado" class="btn btn-default" />
                            </div>
                        </div>
                    }
                }
    </div>
</div>
<p>
    @Html.ActionLink("Volver a Inicio", "Index","Home")
</p>
