@model IEnumerable<MinisteriodeEducacionMVCApp.Models.ListadeEstudiantes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>@ViewBag.Msg</h5>

<p>
    @Html.ActionLink("Crear Nuevo", "Create") |
    @Html.ActionLink("Importar Lista Estudiante", "ImportarLista")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellido Paterno")
        </th>
        <th>
            @Html.DisplayName("Apellido Materno")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        <th>
            @Html.DisplayName("Paralelo")
        </th>
        <th>
            @Html.DisplayName("Promedio")
        </th>
        <th>
            @Html.DisplayName("idDiploma")
        </th>
        <th>
            @Html.DisplayName("Promo")
        </th>
        <th>
            @Html.DisplayName("Grupo Nombre")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idListaEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paralelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.promedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diploma.idDiploma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gestion.nombrePromo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoDiploma.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idListaEstudiante }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idListaEstudiante }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idListaEstudiante })
        </td>
    </tr>
}

</table>
