@model MinisteriodeEducacionMVCApp.Models.GrupoDiploma

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Seguro que desea Eliminar?</h3>
<div>
    <h4>GrupoDiploma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Cuenta Personal Colegio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalColegio.loginPColegio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
