@model MinisteriodeEducacionMVCApp.Models.GrupoDiploma

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Grupo Diploma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Cuenta Personal Colegio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalColegio.loginPColegio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idGrupoDiploma }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
