@model MinisteriodeEducacionMVCApp.Models.Estudiante

@{
    ViewBag.Title = "Delete";
}

<h2>Elimniar</h2>

<h3>Seguro que desea Eliminar?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loginEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListadeEstudiantes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListadeEstudiantes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
