@model IEnumerable<MinisteriodeEducacionMVCApp.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>@ViewBag.Msg</h5>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Login Estudiante")
        </th>
        <th>
            @Html.DisplayName("Pass Estudiante")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        <th>
            @Html.DisplayName("Nombre Estudiante")
        </th>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th>
            @Html.DisplayName("CI")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.loginEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListadeEstudiantes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.CI)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.nroRegistroEst }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.nroRegistroEst }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.nroRegistroEst })
        </td>
    </tr>
}

</table>
