@model IEnumerable<MinisteriodeEducacionMVCApp.Models.Diploma>

@{
    ViewBag.Title = "Index";
}

<h2>Diploma</h2>

@using (Html.BeginForm("Index", "Diploma", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lista de Diplomas</h4>
        <h5>@ViewBag.Msg</h5>
        <hr />
        <p> *La creacion del diploma se realizara de manera automatica, dependiento que es estudiante tenga un promedio mayor a 51</p>
  
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Crear Diplomas" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Diploma")
        </th>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Meta Datos")
        </th>
        <th>
            @Html.DisplayName("Codgio Hexadecimal")
        </th>
        <th>
            @Html.DisplayName("Codigo Legalizacion")
        </th>
        <th>
            @Html.DisplayName("ID Lista Estudiante")
        </th>
        <th>
            @Html.DisplayName("Nombre grupo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDiploma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metadatos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigohex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoLegalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idListaEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoDiploma.nombre)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.idDiploma })
        </td>
    </tr>
}

</table>
