@model MinisteriodeEducacionMVCApp.Models.Legalizacion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Seguro que desea Eliminar</h3>
<div>
    <h4>Legalizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firmaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diploma.idDiploma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diploma.idDiploma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalMinisterio.loginMinistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalMinisterio.loginMinistro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
