@model MinisteriodeEducacionMVCApp.Models.Legalizacion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Legalizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firmaDigital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmaDigital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diploma.idDiploma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diploma.idDiploma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalMinisterio.loginMinistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalMinisterio.loginMinistro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
