@model IEnumerable<MinisteriodeEducacionMVCApp.Models.Legalizacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Firma Digital")
        </th>
        <th>
            @Html.DisplayName("Fecha Legalizacion")
        </th>
        <th>
            @Html.DisplayName("ID Diploma")
        </th>
        <th>
            @Html.DisplayName("Cuenta Ministro")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firmaDigital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diploma.idDiploma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalMinisterio.loginMinistro)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id=item.idLegalizacion })
        </td>
    </tr>
}

</table>
