<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ministerio de Educacion", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("R1") || User.IsInRole("R4"))
                        {
                        <li>@Html.ActionLink("Colegios", "Index", "Colegio")</li>
                        <li>@Html.ActionLink("Legalizacion", "Index", "Legalizacion")</li>
                        }
                        if (User.IsInRole("R1") || User.IsInRole("R2"))
                        {
                            <li>@Html.ActionLink("Lista Estudiantes", "Index", "ListadeEstudiantes")</li>
                            <li>@Html.ActionLink("Grupo Diplomas", "Index", "GrupoDiplomas")</li>
                            <li>@Html.ActionLink("Diplomas", "Index", "Diploma")</li>
                        }
                        if (User.IsInRole("R1") || User.IsInRole("R2") || User.IsInRole("R3"))
                        {
                            <li>@Html.ActionLink("Estudiante", "Index", "Estudiante")</li>
                        }
                            <li><a href="#">Bienvenido Usuario: @User.Identity.Name</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        
                    }
                    else
                    {
                    <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Realizado en: @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
